
<div>
    <form [formGroup] = "userForm">

        <p>Name</p>
    <mat-form-field appearance="fill">
        <mat-label>Enter your name</mat-label>
        <input matInput placeholder="Trent" formControlName="name">
    </mat-form-field>
    
    <p>Email</p>
    <mat-form-field appearance="fill" MatFormFieldControl>
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="trent@ancc.com" formControlName="email">
    </mat-form-field>
    
    <p>Mobile</p>
    <mat-form-field appearance="fill">
        <mat-label>Enter your mobile</mat-label>
        <input matInput placeholder="04XXXXXXXX" formControlName="mobile">
    </mat-form-field>
    
    </form>
    <div>
        <button mat-flat-button color="primary" (click)="userSubmit()" *ngIf="!getparamid">Create</button>
    </div>
    <div>
        <button mat-flat-button color="accent" (click)="userUpdate()" *ngIf="getparamid">Save</button>
        <button mat-flat-button color="primary" (click)="goBack()" *ngIf="getparamid">Cancel</button>
    </div>
</div>



